/* Allgemeine Formatierungen */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #fafafa;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1 {
    font-size: 2rem;
    color: #1A202C;
}

.wrapper {
    position: relative;

    .logo {
        position: absolute;
        top: 16px;
        left: 16px;
        z-index: 1;
        display: flex;
        align-items: center;
        column-gap: 8px;
        padding: 8px;

        i {
            font-size: 2.25rem;
        }

        .link {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: #444;
            background-color: white;

            &:visit {
                text-decoration: none;
            }
        }
    }

    /* Stile für die Bedienungshinweise */

    .help {
        position: absolute;
        top: 40px; 
        right: 0;
        padding: 8px;
        z-index: 100; 
        background-color: white; 
        border-radius: 5px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
        visibility: hidden; 
        opacity: 0;
        transition: visibility 0.3s, opacity 0.3s ease-in-out;

        .tip {
            display: table-row;
            margin-bottom: 2px;

            >div {
                display: table-cell;
                text-align: right;
                padding: 4px;
                border: 1px solid transparent;

                &.desc {
                    text-align: left;
                }

                .key {
                    background-color: #eee;
                    color: #444;
                    padding: 2px 4px;
                    border: 4px;
                    border-radius: 4px;
                }
            }
        }
    }
}

/* .dimmer und alle Kinderklassen für Export-Funktion */

.dimmer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000004d;
    z-index: 50;

    .output {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        transform: translate(-50%, -50%);
        padding: 16px;
        display: flex;
        flex-direction: column;
        background-color: white;

        textarea {
            height: 300px;
            resize: none;
        }

        button {
            width: 100%;
            padding: 10px 20px;
            background-color: #68D391;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}


/* Stil für das root Element der MindMap */

#mmap-root {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border: 1px solid #E2E8F0;
    padding: 20px;
    margin-bottom: 20px;
}

/* Spezifische Stile für die MindMap-Elemente */

[data-mind-wired-viewport] {
    .mwd-body.level-0 {
      border: 2px solid #CBD5E0;
      border-radius: 10px;
      font-size: 1.2rem;
      color: #2D3748;
      padding: 5px 10px;
      background-color: #EBF4FF;
    }
  
    .mwd-body.level-1 {
      border-radius: 8px;
      font-size: 1.1rem;
      background-color: #FEEBC8;
      color: #C05621;
    }
  
    .mwd-body.level-2 {
      border-radius: 8px;
      font-size: 1rem;
      background-color: #FEFCBF;
      color: #B7791F;
    }
  
    .mwd-node .mwd-body.memo {
      background-color: #C6F6D5;
      color: #2F855A;
      font-style: normal;
      padding: 4px 8px;
    }
  
    .mwd-body.level-3 {
      font-size: 0.85rem;
      background-color: #BEE3F8;
      color: #2B6CB0;
      padding: 3px 6px;
      border-radius: 8px;
    }

    .mwd-body.level-4 {
        font-size: 0.7rem;
        background-color: #D4A5A5; 
        color: #6B4646; 
        padding: 3px 6px;
        border-radius: 8px;
    }

    .mwd-body.level-5 {
        font-size: 0.55rem;
        background-color: #A5C6D4; 
        color: #214C6B;
        padding: 3px 6px;
        border-radius: 8px;
    }
}

.lead {
    font-size: 1.2rem;
    color: #4A5568;
}  

.container {
    margin: 50px auto; 
    max-width: 1300px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4F46E5;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #3730A3;
}

canvas {
    background-color: #ffffff;
}

.editor-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px; 
}

/* Button für Bedienungshinweise */
.action-button {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 10; 
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #4F46E5;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    display: inline-block; 
}

.action-button:hover {
    background-color: #3730A3;
}

.action-button:hover + .help {
    visibility: visible; 
    opacity: 1; 
}

/* EXPORT, SAVE und DELETE Button */

.ctrl {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 10px; 
    margin-bottom: 20px;
}

.mindmap-list-item {
    padding: 10px;
    margin: 5px 0;
    background-color: #f0f0f0;
    cursor: pointer;
}

/* Stil für die MindMap-Listenseite */
#mindmap-list-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
  
#mindmap-list {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
#mindmap-list div {
    padding: 10px;
    background-color: #EDF2F7;
    border-radius: 5px;
    border: 1px solid #CBD5E0;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
#mindmap-list div:hover {
    background-color: #E2E8F0;
}
  
#mindmap-list-page .btn {
    margin-top: 20px;
    align-self: flex-end; 
}
  
/* Stil für die MindMap-Editor-Seite */
#mindmap-editor-page {
    top: 20px;
    display: none;
    height: 100vh;
}
  
#back-to-list {
    background-color: #4F46E5; 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    position: absolute; 
    top: 20px;         
    left: 60px;       
}
  
#back-to-list:hover {
    background-color: #3730A3;
}